#page
{
    margin:0px;
}

*
{ 
    font-family: Comfortaa;
}

.AZEZA { text-align: justify; }


/* Big a */
a.aBig:link
{
    background-color: transparent;
    text-decoration: none;
    font-size: 150%;
}
a.aBig:visited
{
    background-color: transparent;
    text-decoration: none;
}
li.aBig:hover,a.aBig:hover
{
    background-color: transparent;
}
a.aBig:active
{
    background-color: transparent;
}



/* Custom color */
.blueDeep  { color:#213B6B; }
.blueLight { color:#5098D9; }

.whiteToBlueLight { color:white; }
.whiteToBlueLight:hover { color:#5098D9; }

.whiteToBlueDeep { color:white; }
.whiteToBlueDeep:hover { color:#213B6B; }

.blueLightToBlueDeep { color:#5098D9; }
.blueLightToBlueDeep:hover { color:#213B6B; }

.whiteToRed { color:white; }
.whiteToRed:hover { color:#B41B1B; }


/* Custom background */
.darkBackground
{
    background: #333333;
    background-color:#333333;
}
.blueLightBackground
{
    background:#5098D9;
    background-color:#5098D9;
}
.blueDeepBackground
{
    background:#213B6B;
    background-color:#213B6B;
}

.darkToBlueDeepBackground { background: #333333; }
.darkToBlueDeepBackground:hover { background:#213B6B; }
.darkToBlueLightBackground { background: #333333; }
.darkToBlueLightBackground:hover { background:#5098D9; }


/* Zooms when hovering */
.zoom { transition: transform .2s; }
.zoom:hover { transform: scale(1.2); }

.smallZoom { transition: transform .2s; }
.smallZoom:hover { transform: scale(1.05); }


/* Zooms when hovering */
.img, IMG.displayed
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}



/* social icon */
.fa, .fa-lg{ color:#5098D9; }
.fa:hover { color:#213B6B; }
.fa-lg:hover { color:#213B6B; }



/* Overlay */
.overlay
{
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  height:100%;
  opacity:1;
  text-align: center;
  z-index:3;
  display: inline-block;
  vertical-align: middle;
}



/* Tooltip */
.tooltip
{
    position: relative;
    display: inline-block;
    line-height:1.2;
}

.tooltip .tooltiptext
{
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    
    /* Fade in tooltip - takes 0,75 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 0.75s;
}

.tooltip:hover .tooltiptext
{
    visibility: visible;
    opacity: 1;
}



/* Button */
.btn, .btn-large { background:#213B6B; }
.btn:hover, .btn-large:hover { background:#5098D9; }



/* Navbar */
nav
{
    padding: 0px 25px;
}