.rowHeader
{
    position: sticky;
    margin:0%;
    top: 0%;
    height: 10%;
    width: 100%;
    background: #333333;
    font-family: Comfortaa;
} 

.page-footer
{
    background: #333333;
    font-family: Comfortaa;
}



a.aTitle
{
    color:#5098D9;
    font-weight: bold;
    font-size: 300%;
}

.btn
{
    height:50%;
    background:#213B6B;
    font-family: Comfortaa;
}
.btn:hover { background:#5098D9; }

body
{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main
{
    flex: 1 0 auto;
}