/* label color */
.input-field label
{
    font-family: Comfortaa;
    font-weight: bold;
    color: #213B6B;
}

/* label focus color */
.input-field input[type=text]:focus + label
{
    font-family: Comfortaa;
    color: #5098D9;
}

/* label underline focus color */
.input-field input[type=text]:focus
{
    font-family: Comfortaa;
    border-bottom: 1px solid #5098D9;
    box-shadow: 0 1px 0 0 #5098D9;
}

/* valid color */
.input-field input[type=text].valid
{
    font-family: Comfortaa;
    border-bottom: 1px solid #5098D9;
    box-shadow: 0 1px 0 0 #5098D9;
}

/* invalid color */
.input-field input[type=text].invalid
{
    font-family: Comfortaa;
    border-bottom: 1px solid #b42222;
    box-shadow: 0 1px 0 0 #b42222;
}

/* icon prefix focus color */
.input-field .prefix.active
{
    color: #5098D9;
}