/* Project Card */
.card
{
    text-align: center;
}

.card-title
{
    font-weight: bold;
}

.aCard:link
{
    background-color: transparent;
    text-decoration: none;
}
.aCard:visited
{
    background-color: transparent;
    text-decoration: none;
}
.aCard:hover,.aCard:hover
{
    background-color: transparent;
}
.aCard:active
{
    background-color: transparent;
}