/* Navbar */
.navbar-fixed
{
    background: #333333;
    font-family: Comfortaa;
}

/* Project Card */
.card
{
    font-family: Comfortaa;
    text-align: center;
}

.card-content
{
    font-family: Comfortaa;
}

.card-title
{
    font-weight: bold;
}

.card-action
{
    font-family: Comfortaa;
}